
PulsingChart.xcodeproj/xcuserdata/smalllixin.xcuserdatad/xcschemes/RunningChart.xcscheme

PulsingChart.xcodeproj/xcuserdata/smalllixin.xcuserdatad/xcschemes/xcschememanagement.plist

PulsingChart.xcodeproj/xcuserdata/smalllixin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

PulsingChart.xcodeproj/project.xcworkspace/xcuserdata/smalllixin.xcuserdatad/WorkspaceSettings.xcsettings

PulsingChart.xcodeproj/project.xcworkspace/xcuserdata/smalllixin.xcuserdatad/UserInterfaceState.xcuserstate
